@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Parisienne&display=swap");

@theme {
	--font-serif: "Parisienne", "Cinzel Decorative", cursive, serif;
	--font-sans: "Parisienne", "Cinzel Decorative", cursive, sans-serif;
	--font-mono: "Parisienne", "Cinzel Decorative", cursive, monospace;
}
